.carousel-item {
    font-size: 0.75rem;
    flex-basis: 100%;
    align-items: center;
    display: flex;
    background: linear-gradient(0deg,#f5f5f5 0,#fff 20px);
    border: 1px solid #e8e8e8;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: #4a5a64;
}

.carousel-item img {
    width: 80%;

}

.carousel-item h1 {
    font-size: 1rem;
    font-weight: 700;
    color: var(--main-color);
    max-height: 2rem;
    height: 2rem;
}

.carousel-item p {
    max-height: 3rem;
    height: 3rem;
    overflow: hidden;
    text-align: justify;
}

.carousel-item>.price {
    font-size: 1rem;
    font-weight: 700;
    color: var(--secondary-color-green-dark);
    margin-bottom: .6rem;
}
