.app {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

.app>.container {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.app>.header {
  height: 20px;
  padding: 15px;
  display: flex;
  font-size: .85em;
  margin-bottom: 10px;
}

.header img {
  margin-right: 5px;
}

.header strong {
  padding:  0 5px 0 5px;
}
